/* Table of Contents:
  1. skeleton................................(layout info)
  2. sidebar..........(skeleton, visuals for each element)
  3. explainer........(skeleton, visuals for each element)
  4. dummy..............................(entries for flow)
*/

/* 1. skeleton ****************************************************************/
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  /* grid info: */
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 10rem;
  grid-template-areas: "main sidebar";
}

* {
  box-sizing: border-box;
}
.main {
  grid-area: main;
}
.dummy {
  grid-area: dummy;
  border: 2px solid black;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: minmax(auto, auto);
  grid-template-columns: [col1-start] 12.5vw [col1-end col2-start] 1fr [col2-end];
}
.dummy p {
  padding: 20px;
}
.sidebar {
  height: 100%;
  width: 10rem;
  position: fixed; /* solves scrollbar issue */
  top: 0;
  right: 0;
}

/* 2. sidebar **************************************************************/

/* 2a. skeleton */
.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 1rem;
  /*add filter options*/
  grid-template-areas: '.'
                       "small-timeline"
                       '.';
}
.small-timeline {
  grid-area: small-timeline;
}

/* 2b. styling */

.sidebar {
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .05);
}
.options {
  font-size: .5rem;
  text-align: center;
  padding-top: .5rem;
}

.tags p {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  border: .5px solid purple;
  background-color: lavender;
  border-radius: 1rem;
  font-size: .5rem;
}

/* lil timeline */
.small-timeline {
  display: grid;
  grid-template-rows: 2.25rem .5rem repeat(199, auto) 5px; /* do 2 columns so you can have the years on the edge */
  position: relative;
}
.line {
  z-index: -1;
  position: absolute;
  margin-left: 50%;
  transform: translate(-1px, 0);
  height: 100%;
  width: 1px;
  background-color: rgba(0,0,0,.5);
}
.admin, .student, .fed, .none { /* dots */       /* full size screen only!!! */
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin: .25px 1.5px;
  padding: 0px;
  font-size: .5rem;
  font-weight: bold;
}
.none {
  height: 1px;
  margin: 0px;
}
.admin:hover, .student:hover, .fed:hover {
  background-color: yellow;
  border: 2px solid yellow;
  box-sizing: content-box;
}
.small-timeline div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin {
  background-color: #bae397;
}
.student {
  background-color: purple;
}
.fed {
  background-color: #807615;
}
.none {
  background-color: transparent;
}

/* 3. explainer ***************************************************************/

/* 3a. skeleton */

.explainer {
  display: grid;
  grid-template-areas: "hook     hook      hook"
                       "reason1 reason2 reason3"
                       "circle1 circle2 circle3";
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-around;
  justify-items: center;
  margin: 0;
  height: 110vh;
  background-image: url(../img/diagmonds.png);
  background-color: #8abd5f;
  background-blend-mode: screen;
  text-align: center;
}

.hook {
  grid-area: hook;
}
.reason1 {
  grid-area: reason1;
}
.reason2 {
  grid-area: reason2;
}
.reason3 {
  grid-area: reason3;
}
.circle1 {
  grid-area: circle1;
}
.circle2 {
  grid-area: circle2;
}
.circle3 {
  grid-area: circle3;
}

/* 3b. styling */

.hook {
  padding: 0 1rem;
  font-size: 2rem;
  font-family: 'Playball', cursive;
  color: white;
}
.mockdots {
  height: 12px;
  width: 12px;
  margin: auto;
  padding: 0;
  background-color: white;
  border-radius: 50%;
}
.reason1, .reason2, .reason3 { /* group style -> can change individuals below */
  border: 2px dotted pink;
  width: 15rem; /* match circles */
  font-size: 1.5rem;
  font-weight: bold;
}
.circle1, .circle2, .circle3 {
  border: 2px dotted chartreuse;
  height: 15rem;
  width: 15rem; /* 12rem for 768px cutoff */
}
