/* thru container setup = good generic grid */
body {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(to right, #6f256f -10%, rgba(255, 255, 255, 0), #6f256f 110%), url(../img/paper.jpg);
  background-attachment: fixed, fixed;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}
h2 {
  font-size: 1.5rem;
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
p {
  font-size: 1rem;
}

/* ----- grid setup: -------------------------------------- */

.container {
  margin: auto 2.5vw;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;
  grid-auto-rows: minmax(10px, auto);
  grid-template-columns: [col1-start] 12.5vw [col1-end col2-start] 1fr [col2-end];
}
.header {
  grid-column: 1 / -1;
  grid-row: 1;
}

.entry {
  grid-column: col2-start;
}

.tl-wrapper {
  grid-column: col1-start;
  justify-self: center;
} /* holds timeline/icons */
.date {
  grid-column: col1-start;
}
@media all and (min-width: 750px) {
  .container {
    /* issue: when resized, scroll bar appears...? */
    margin: auto 2.5vw;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: row dense;
    grid-auto-rows: minmax(10px, auto);
    grid-template-columns: [oe-start ed-start] 1fr [oe-end ed-end tl-start] 12.5vw [tl-end ee-start od-start] 1fr [ee-end od-end];
    /* key: 'oe'='odd entry'  'ed'='even date'  'tl'='timeline'  'ee'='even entry'  'od'='odd date' */
  }
}




/* ----- grid item placement: ----------------------------- */

@media screen and (min-width: 750px) {
  .header {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .entry.odd {
    grid-column: oe-start;
  }
  .entry.even {
    grid-column: ee-start;
  }

  .tl-wrapper {
    grid-column: 2; /* 1 for small screens */
    justify-self: center;
  } /* holds timeline/icons */
  .date.odd {
    grid-column: od-start;
  }
  .date.even {
    grid-column: ed-start;
    text-align: right;
  }
}




/* --------------------- visual styling: ------------------------ */

/* Table of Contents:   (1).........header            (insert line numbers soon)
                        (2)....line itself
                        (3)...........icon
                        (4)........entries
                        (5)...........date
                        (6).........footer                                    */

/* 1. header */
.header {
  text-align: center;
  order: -1;
  margin-bottom: 3em;
}

/* 2. line */
.dots {
  grid-column: col1-start;
  justify-self: center;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  transform: translate(-2px, 0);
  background-color: purple;
}
@media screen and (min-width: 750px) {
  .dots {
    grid-column: 1 / -1;
    justify-self: center;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    transform: translate(-2px, 0);
    background-color: purple;
  }
}

p[class="dots"]:nth-of-type(1) {
  opacity: .5;
}
p[class="dots"]:nth-of-type(2) {
  opacity: .7;
}
p[class="dots"]:nth-of-type(3) {
  opacity: .9;
}

.timeline {
  width: 4px;
  transform: translate(-2px, 0);
  height: 120%;
  background-color: #6f256f;
  margin-top: 0;
  margin-bottom: -10px; /* change margins for 1st and last of type */
  z-index: -10;
}
.container div:nth-of-type(2) {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  margin-top: -30px;
} /* ^hacky fix. Consult StackOverflow solution: .parent > .class ~ .class {}, is in bookmarks  */
.container div:nth-last-of-type(4) {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
} /* hacky fix that requires numbers */



/* 3. icon */
.icon { /* circle */
  transform: translate(-50%, 0);
  margin-left: 2px; /* compensate for centering timeline itself - is inside the div */
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #6f256f;
  z-index: 10;
}
.icon img { /* pic */
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 1024px) { /* full-size screen */
  .icon {
    height: 4rem;
    width: 4rem;
  }
  .icon img {
    height: 2rem;
    width: 2rem;
  }
}

/* ------- 4. entry blocks ----------- */

.entry {
  position: relative;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 1);
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .05);
}

.entry::before { /* arrow */
  content: '';
  position: absolute;
  top: 1.5rem;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 1024px) {
  .entry.odd::before { /* odd arrow */
    top: 2rem;
    left: 100%;
    transform: translate(0, -50%);
    border-color: transparent;
    border-left-color: white;
  }
}

.entry h1, .entry h2, .entry h3 {
  margin: 0;
}

.entry h2 { /* entry title */
  color: #292956;
  font-size: 1.5rem;
}
.entry h3 { /* entry subtitle */
  color: #292956;
  font-size: 1rem;
  font-family: 'Roboto Slab', serif;
}

.entry p {
  margin: 1em 0;
  line-height: 1.6;
}

/*---------------------- 5. date ------------------------- */


.date {
  font-size: 1rem;
  height: 3rem;
  line-height: 3rem; /* same as icon height */
  width: auto;
}
@media only screen and (min-width: 1024px) {
  .date {
    height: 4rem;
    line-height: 4rem;
  }
}


/* 6. footer */

p[class="dots"]:nth-last-of-type(1) {
  opacity: .5;
}
p[class="dots"]:nth-last-of-type(2) {
  opacity: .7;
}
p[class="dots"]:nth-last-of-type(3) {
  opacity: .9;
}

.footer {
  text-align: center;
  grid-column: 1 / -1;
  order: 2;
}
