body {
  font-size: 100%;
  margin: 0;
  font-family: 'Raleway';
}

* {
  box-sizing: border-box;
}

/* the modal (background)*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.4);
}
/* 'x' button */
.close {
  color: #aaa;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  border: 2px solid #bae397;
  background-color: white;
  color: #bae397;
  margin: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 2px 1rem;
}

.modal-content {
  position: relative;
  box-sizing: content-box;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 75%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  /* ^offset x offset y blur radius spread radius color */
  animation-name: animatetop;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.pic {
  padding: 1rem;
  border: 2px solid #bae397;
  height: auto;
  margin: 1rem;
}
.num-msg {
  color: purple;
  text-align: center;
}

.preview-text, .title, .link {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #bae397;
  padding: 1rem;
}

.text-wrapper {
  /*width: auto; /*30%;*/
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 1rem;
}

@keyframes animatetop {
  from {left: -300px; opacity: 0}
  to {left: 0; opacity: 1}
}

/* 8/5 */

.entry img {
  display: block;
  float: left;
  margin-right: .5rem; /* bc left float */
  padding: 5px;
  border: 2px solid #aaa039
}

.entry button {
  position: relative;
  display: block;
  float: left;
  margin-bottom: 1rem;
  background-color: white;
  border: 2px solid #aaa039; /* chartreuse */
  color: #807615;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  padding: 5px;
  padding-right: 1.5rem;
}
.entry button:hover {
  background-color: #aaa039;
  color: white;
}
.entry button::after {
  position: absolute;
  bottom: 0px;
  right: -5px;
  transform: translate(0,-50%) rotate(45deg);
  content: '';
  border-width: .75rem;
  border-style: solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #aaa039;
}
.entry button:hover::after {
  border-bottom-color: white;
}
.entry button:focus {
  outline: 0;
  border-color: #807615; /* darkest chartreuse */
}
