body {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  border: 1px solid grey;
}
.wrapper {
  display: grid;
  grid-gap: 0;
  grid-template-areas: "intro"
                       "main";
}

.intro {
  grid-area: intro;
}
.splash {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), linear-gradient(rgba(55, 0, 55, .5), rgba(55, 0, 55, .5)), url("img/newspaper-collage-1.png");
  background-position: top right;
  background-size: cover;
}
.splash-grid {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto;
  height: 75%;
  width: 90%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 30px 1.5fr;
  grid-template-areas: "title braces para";
  align-items: center;
}
.splash-title, .splash-braces, .splash-para {
  color: white;
  text-shadow: 0 0 3px rgba(0,0,0,.5);
}
.splash-title {
  grid-area: title;
  font-size: 3.5rem;
  font-weight: 400;
  text-align: right;
}
.border {
  border-top: 3px solid black;
  width: 90%;
  margin: auto;
}
.text {
  margin: 2rem 0;
}
.splash-braces {
  grid-area: braces;
}
.splash-para {
  grid-area: para;
  font-family: 'Permanent Marker', cursive;
  text-align: left;
}

.explainer {
  height: 100vh;
}
.main {
  grid-area: main;
}
